* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 45px;
}

p {
    font-size: 30px;
}

button {
    font-size: 20px;
}

.high-scores {
    padding: 15px;
    font-size: 25px;
}

.high-scores:hover {
    color: blueviolet;
    cursor: pointer;
}

#timer {
    float: right;
    padding: 15px
}

.info-body {
    margin: auto;
    width: 75%;
    padding-top: 50px;
    text-align: center;

}

.start {
    background-color: rgb(67, 19, 149);
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.start:hover {
    background-color: blueviolet;
}


h1 {
    text-align: center;
}

.questions {
    font-size: 30px;
}

li { 
    font-size: 15px;
    background-color: rgb(67, 19, 149);
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#createLabel {
    font-size: 30px;
    padding-right: 10px;
}

#createDiv {
    font-size: 15px;
    color: rgb(84, 83, 83)
}

#submit {
    background-color: rgb(67, 19, 149);
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#submit:hover {
    background-color: blueviolet;
}


/* SCORES HTML PAGE */

.highScore li {
    background-color: rgb(193, 193, 193);
    border-radius: 0px;
    color: black;
    list-style: none;
}


.wrapper {
    margin: auto;
    width: 75%;
    padding-top: 100px;
    text-align: center;
}

.goBack {
    background-color: rgb(67, 19, 149);
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.goBack:hover {
    background-color: blueviolet;
}

.clear {
    background-color: rgb(67, 19, 149);
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.clear:hover {
    background-color: blueviolet;
}